.life{
    border: 1px solid black;
    background-color: greenyellow;
    height: 1.5rem;
    width: 10rem;
}

.mana{
    border: 1px solid black;
    background-color: powderblue;
    height: 1rem;
    width: 10rem;
}

#player1{
    border: 1px solid blue;
    float: left;
}

#player2{
    border: 1px solid green;
    float: right;
}

#firstTitle{
    text-align: center;
}