body{
    background-image: url('./images/landscape_background.jpg');
    background-size: cover;
    text-align: center;
}

p{
    color: rgb(73, 91, 97);
}

h1{
    font-size: 5rem;
}

button{
    width: 10rem;
    height: 10rem;
}

#timer{
font-size: 2.5rem;
}

span{
    display: flex;
    justify-content: center;
    padding: 1.2em;
}